html,
body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.el-breadcrumb {
    margin-bottom: 20px;
}

.cell {
    color: #000 !important;
}

.el-card {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.ql-container {
    height: 300px !important;
}

.ivu-table {
    font-size: 12px !important;
}

.el-textarea__inner {
    margin-top: 10px;
    resize: none !important;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}